# Node modules
node_modules/

# Production build
dist/

# Environment variables
.env
.env.local
.env.*.local

# Vite cache
.vite/

# OS-specific junk
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__/
*.pyc
venv/
.env
*.env
*.pdb   